<% @config[:years].each do |y| %>
  <% c = y == @year ? "class=\"active\"" : "" %>
  <%= "<a #{c} href=\"/aktuelles/#{y}\">#{y}</a>&nbsp;" %>
<% end %>

<h4>Jahr <%= @year %></h4>

<% news = @config[:news].select { |i| i[:date].year == @year } %>

<% news.each do |i| %>
  <%= render "news_item", item: i %>
<% end %>

<br/>
<br/>

<% years = @config[:years] %>
<% index = years.index(@year) %>
<% if index > 0 %>
  <% year = years[index - 1] %>
  <a href="/aktuelles/<%=year%>">vor nach <%= year %></a>&nbsp;&nbsp;
<% end %>
<% if index < years.length - 1 %>
  <% year = years[index + 1] %>
  <a href="/aktuelles/<%=year%>">zurück nach <%= year %></a>
<% end %>
